*{
    padding: 0;
    margin: 0;
   
}
body{
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;

}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 6px;
}

.login-box{
    width: 360px;
    height: 278px;
    margin: auto;
    border-radius: 3px;
    background-color: white;

}
.login-box:hover{
    color: red;
}
h1{
    text-align: center;
    padding-top: 15px;

}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

    form label.button:hover{
        
    color: red;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid rgb(78, 76, 76);
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 300px;
    height: 30px;
    margin-top: 15px;
    border: none;
    background-color: #26d6aa;
    color: white;
    font-size: 18px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size:15px;
}
